.container
  display: flex
  gap: 16px
  flex-flow: row

.column
  width: 100%
  display: flex
  flex-flow: column nowrap
  gap: 16px

  &__stat
    max-width: 1000px

.stat
  white-space: nowrap

  &__block
    display: grid
    flex-flow: row
    grid-template-columns: 1fr 1fr
    width: 100%
    gap: 16px


.calendar
  margin: -16px 0 0

.plan
  gap: 10px

.h3
  display: flex
  align-items: center
  flex-flow: row nowrap
  min-height: 48px
  width: 100%
  font-weight: 500
  font-size: 18px
  background: hsl(from var(--color) h s 12)
  border-radius: 12px
  margin-bottom: 16px

  .type
    background: hsl(from var(--color) h s 30)
    display: flex
    width: fit-content
    height: 100%
    padding: 0 20px
    align-items: center
    justify-content: center
    border-radius: 12px 0 0 12px

  .subject
    display: flex
    flex: 1
    align-items: center
    justify-content: center
    padding: 0 20px

.subj
  background: #303030
  padding: 16px
  border-radius: 12px

.subjects
  gap: 16px